@import url('https//fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

.content {
	position: relative;
}

.content h2 {
	position: absolute;
	transform: translate(-50%,-50%);
	font-size: 10em;
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
	-moz-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
	color: #03a9f4;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,100%
	{
		clip-path: polygon(1% 45%, 16% 46%, 28% 51%, 41% 60%, 57% 67%, 72% 63%, 89% 54%, 100% 50%, 100% 100%, 0% 100%);
	}
	50%
	{
		clip-path: polygon(0 58%, 16% 62%, 31% 65%, 46% 66%, 57% 61%, 72% 56%, 88% 52%, 100% 54%, 100% 100%, 0% 100%);	
	}
}
